body, html {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.cronometro-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: fixed;
    top: 10px; 
    left: 0; 
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: auto; 
    z-index: 999; 
}

.cronometro-display {
    font-size: 30px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}